@model ADYC.API.ViewModels.OfferingDto

<div class="callout callout-success">
    <h4><i class="icon fa fa-check"></i>Congratulations!</h4>

    <p>You have succcesfully enrolled in @Model.Title</p>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="@Url.Action("Index", new { controller = "Enrollments" })" class="btn btn-default btn-sm"><i class="fa fa-arrow-circle-left"></i> Return to list of enrollments</a>
            </div>
        </div>
    </div>
</div>
