@model IEnumerable<ADYC.API.ViewModels.PeriodDto>

@{
    var title = "Periods";
    ViewBag.Title = title;
    ViewBag.PageHeader = title;

    ViewBag.BreadcrumbLinks = new Dictionary<string, string>
    {
        [title] = ""
    };

    ViewBag.ActiveBreadcrumb = title;
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <table id="periods" class="table table-bordered table-hover table-striped dataTable" role="grid">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(m => m.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => m.Name)
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var period in Model)
                        {
                            @Html.Partial("pv_PeriodRow", period)

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link rel="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
}

@section scripts
{
    <script>
        $(document).ready(function () {

            var tableHelper = TH$({
                table: "periods",
                messageDiv: "msg-div"
            });

            $('#periods').DataTable();
        });
    </script>

    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
}