@model IEnumerable<ADYC.Model.Student>

@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

@{
    var message = (TempData["Msg"] != null) ? TempData["Msg"].ToString() : "";
}
<div id="msg-div">
</div>

<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@Url.Action("new")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Create Student</a>
    </div>
</div>

<table id="students" class="table table-bordered table-striped display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Id)
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                Cellphone
            </th>
            <th>Grade</th>
            <th>Group</th>
            <th>Major</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var student in Model)
        {
            @Html.Partial("pv_StudentRow", student)

        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var tableHelper = TH$({
                table: "students",
                messageDiv: "#msg-div",
                addTrashEvent: true,
                addRestoreEvent: true,
                addDeleteEvent: true
            });

            $('#students').DataTable();
        });
    </script>
    <script type="text/javascript" src="~/Scripts/adyc.table.utils.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
}