@model IEnumerable<ADYC.Model.Period>

@{
    ViewBag.Title = "Periods";
}

<h2>Periods</h2>

@{
    var message = (TempData["Msg"] != null) ? TempData["Msg"].ToString() : "";
}
<div id="msg-div">
</div>

<table id="periods" class="table table-bordered table-striped display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var period in Model)
        {
            @Html.Partial("pv_PeriodRow", period)

        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var tableHelper = TH$({
                table: "periods",
                messageDiv: "#msg-div"
            });

            $('#periods').DataTable();
        });
    </script>
    <script type="text/javascript" src="~/Scripts/adyc.table.utils.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
}