@model IEnumerable<ADYC.API.ViewModels.TermDto>

@{
    ViewBag.Title = "Offerings";
}

<link href="~/Content/jPages.css" rel="stylesheet" />

<h2>Terms</h2>

<div class="alert alert-info" role="alert">
    Please select a term to see its offerings.
</div>

<div class="holder"></div>

<ul id="itemContainer" class="w3-ul w3-card-4">
    @foreach (var term in Model)
    {
        <li>
            <a href="@Url.Action("view", new { termId = term.Id})">
                <span class="glyphicon glyphicon-calendar"></span>
                <h5>
                    @term.Name
                    @if (term.IsCurrentTerm)
                    {
                        <span class="label label-default">Current</span>
                    }
                </h5>
                <span class="w3-medium w3-opacity">@term</span>
            </a>
        </li>
    }
</ul>

<div class="holder"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            var offeringsCurrentPage = sessionStorage.getItem("offeringsCurrentPage") || 1;

            $("div.holder").jPages({
                containerID: "itemContainer",
                perPage: 5,
                startPage: offeringsCurrentPage,
                callback: function (pages, items) {
                    sessionStorage.setItem("offeringsCurrentPage", pages.current);
                }
            });

            $("div.holder").jPages(offeringsCurrentPage);
        });
    </script>

<script src="~/Scripts/jPages.min.js"></script>
}