@model IEnumerable<ADYC.Model.CourseType>

@{
    ViewBag.Title = "Course Types";
}

<h2>Course Types</h2>

<div id="msg-div">
</div>

<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@Url.Action("new")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Create Course Type</a>
    </div>
</div>

<table id="courseTypes" class="table table-bordered table-striped display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var courseType in Model)
        {
            @Html.Partial("pv_CourseTypeRow", courseType)

        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var tableHelper = TH$({
                table: "courseTypes",
                messageDiv: "#msg-div",
                addDeleteEvent: true
            });

            $('#courseTypes').DataTable();
        });
    </script>

    <script type="text/javascript" src="~/Scripts/adyc.table.utils.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
}