/**
 * Fixed brand-logo movement and collapse button, fixed line that moves
 * when we click the menu.
 **/
@media screen and (max-width: 800px) {
    .customnavbar .brand-logo {
        margin: 0 auto;
    }

    .customnavbar .navbar-header button {
        margin-top:  16px !important;
        margin-bottom: 0px !important;
    }
    
    .customnavbar .navbar-collapse {
        margin-top: 22px !important;
    }

    .customnavbar ul li a:hover {
        background-color: #00ADEF !important;
        color: #FFF !important;
        border-bottom: 0px;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }

    .navbar-collapse {
        clear: both;
        float: none;
    }
    
    #input-src {
        display: block;
        width: 100%;
        margin-left: 5px;
    }

    .da-slider {
        height: 200px !important;
    }

    .da-slide {
        left: auto;
        text-align: center !important;
    }

    .da-slide p {
        color: #FFF;
        margin: -85px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
        width: 80%;
        white-space: nowrap;
    }

    .da-slide h2 {
        display: block;
        text-align: center;
        font-size: 2em;
        left: auto;
        top: 18px;
        width: 80%;
    }

    .da-slide .da-link {
        top: 100px;
    }

    .da-slide .da-img {
        display: none;
    }

    .homebox .icon>img {
        width: 100%;
        height: 100%;
    }

    .box_stat {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .mb48 .col-md-4 {
        margin-top: 16px;
        margin-bottom: 16px;
        
    }
    .hoveri {
        width: 100%;
    }
    .testimony {
        margin-top: 25px;
    }

    .copyright ul {
        width: 100%;
        padding: 0px;
    }

    .copyright ul > li {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        text-align: center;    
        margin-left: auto;
        margin-right: auto;
    }

    .bgrid .col50 {
        float: left;
        width: 100%; 
        padding: 0;
    }

    .featured {
        margin-bottom: 10px;
    }

/*
    .featured a .desc {
        height: 30%;
        padding-bottom: 5px;        
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        display: inline-block;
        column-width: 150px;
    }
    */
}

@media screen and (max-width: 1024px) {
    .box_stat h2 {
        margin-top: 0px;
        margin-bottom: 4px;
        font-weight: bold;
        font-size: 1.9em;
    }
    .box_stat i {
        font-size: 2.1em !important;
    }
}