.actions {
    width: 16%;
    overflow: auto;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting {
    background-image: url("/Content/images/sort_both.png");
}

table.dataTable thead .sorting_asc {
    background-image: url("/Content/images/sort_asc.png");
}

table.dataTable thead .sorting_desc {
    background-image: url("/Content/images/sort_desc.png");
}

table.dataTable thead .sorting_asc_disabled {
    background-image: url("/Content/images/sort_asc_disabled.png");
}

table.dataTable thead .sorting_desc_disabled {
    background-image: url("/Content/images/sort_desc_disabled.png");
}

.checkbox {
    margin-left: 40px;
}

ul.term-list li a:hover {
    color: #fff;
    background-color: #3c8dbc;
}

ul.term-list li h5 {
    display: inline-block;
}

.w3-medium {
    font-size: 15px !important;
}

.w3-opacity {
    opacity: 0.90;
    font-style: italic;
}

/* selecting offering styles */
.offering-slide {
    background-image: url('/Images/waves.gif');
    list-style: none;
    padding: 30px 0px 0px 0px;
    margin-bottom: 0px;
}

.slide-item {
    position: relative;
    padding-left: 100px;
    padding-bottom: 35px;
}

.offering-slide > li h2 {
    text-align: center;
}

.offering-slide-info {
    margin-top: 50px;
    margin-bottom: 30px;
}

.offering-slide-img {
    position: absolute;
    bottom: 0px;
    right: 15px;
}
