body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-toolbar {
    margin-bottom: 20px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting {
  background-image: url("/Content/images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("/Content/images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("/Content/images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("/Content/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("/Content/images/sort_desc_disabled.png");
}

.checkbox {
    margin-left: 40px;
}