body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.navbar {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 74px;
}

.navbar-brand img {
    width: 45px;
    height: 45px;
}

.customnavbar .navbar-right {
    margin-top: 10px;
}

.navbar-right .input-group a {
    color: #CCC !important;

}

.navbar-right .input-group a:hover {
    background-color: #CCC !important;
    color: #333;
}

.customnavbar ul li a {
    color: #00ADEF !important;
    text-transform: uppercase;
    -webkit-transition: all .3 ease-in-out;
    -moz-transition: all .3 ease-in-out;
    -ms-transition: all .3 ease-in-out;
    -o-transition: all .3 ease-in-out;
    transition: all .3s ease-in-out;
}

.customnavbar ul li a:hover {
    background-color: #00ADEF !important;
    color: #FFF !important;
    border-bottom: 4px solid #3b5898;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;    
}

#input-src {
    display: none;
    max-width: 380px;
    width: 0px;
    margin-left: 5px;
}

#div-src {
    display: none;
    margin-top: 8px;
    margin-right: 4px;
}

#btn-src {
    display: none;
}

.slide-wrapper {
    width: 100%;
}

.homebox {
    margin-top: 16px;
    width: 100%;
}

.homebox .icon {
    display: inline-block;
    width: 15%;
    margin-right: 5%;
}

.homebox .icon>img {
    width: 130%;
    height: 130%;
}

.desc {
    float: left;
    width: 80%;
}

.desc .title {
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 6px;
}

.desc p {
    color: #555;
    font-size: 0.9em;
}

.bar-top {
    background-color: #00adef;
}
.bar-top ul {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
}
.bar-top ul > li {
    float: left;
    color: #f0f0f0;
}

.bar-top ul > li > a {
    color: #FFF !important;
    display: block;
    padding: 8px;

    -webkit-transition: all .3 ease-in-out;
    -moz-transition: all .3 ease-in-out;
    -ms-transition: all .3 ease-in-out;
    -o-transition: all .3 ease-in-out;
    transition: all .3s ease-in-out;
}

.bar-top ul > li > a:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.bar-top ul > li > a.facebook:hover {
    background-color: #3b5898;
}

.bar-top ul > li > a.twitter:hover {
    background-color: #2185b2;
}

.bar-top ul > li > a.youtube:hover {
    background-color: #cc171d;
}

.parallax1 {
    background: url('../images/parallax1.jpg') 50% 0 no-repeat fixed;
    margin: 0px auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box_stat {
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, .2);
    color: #3e4f59;
    margin-top: 96px;
    margin-bottom: 96px;
    padding: 24px;
    overflow: hidden;
}

.box_stat .col1 {
    float: left;
    max-width: 26%;
    margin-right: 8px;
}
.box_stat .col2 {
    float: left;
    max-width: 33%;
    margin-right: 16px;
}
.box_stat .col3 {
    float: left;
    max-width: 33%;
    margin-right: 8px;
}

.box_stat h2 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 3em;
}
.box_stat i {
    font-size: 2.5em;
}
.box_stat span {
    display: block;
    margin-top: 4px;
    text-transform: uppercase;
}
.box_featured {
    background-color: rgba(66, 124, 203, .7);
    color: #fff;
}

.mb48 {
    margin-bottom: 48px;
}

.title_section {
    display: block;
    color: #555;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.hoveri {
    width: 100%;
}

.testimony_section {
    background: url('../images/bg.png');
    padding-bottom: 32px;
}
.testimony {
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

.testimony img {
    margin-bottom: 8px;
}
.testimony p, a {
    color: #666;
}
.testimony a {
    font-weight: bold;
    text-decoration: none;
}
.testimony a > i {
    color: #2185b2;
}

.footer {
    background-color: #272d34;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer .title {
    font-size: 1.6em;
}

.footer p {
    color: #777;
    font-size: 0.9em;
    margin-top: 8px;
}
.footer ul {
    margin-left: 0px;
}

.footer ul > li > a {
    color: #999;
    display: block;
    padding: 2px;
}

.copyright {
    background-color: #1a1e23;
    color: #777;
    padding: 8px;
}

.copyright ul {
    display: block;
    float: right;
    list-style-type: none;    
    margin: 0px;
}

.copyright ul > li {
    margin-left: 16px;
    float: left;
}

.copyright ul > li > a {
    color: #fff;
}