@model IEnumerable<ADYC.API.ViewModels.TermDto>

@{
    ViewBag.Title = "Offerings (Terms)";
}

<link href="~/Content/jPages.css" rel="stylesheet" />

<h2>Offerings (Terms)</h2>

<p>
    Please select a term to see your offerings.
</p>

<div class="holder"></div>

<ul id="itemContainer" class="w3-ul">
    @foreach (var term in Model)
    {
        <li>
            <a href="@Url.Action("ViewOfferings", new { termId = term.Id.Value})">
                <span class="glyphicon glyphicon-calendar"></span>
                <h5>
                    @term.Name
                    @if (term.IsCurrentTerm)
                    {
                        <span class="label label-default">Current</span>
                    }
                </h5>
                <span class="w3-medium w3-opacity">@term.StartDate.ToString("MMMM dd, yyyy") - @term.EndDate.ToString("MMMM dd, yyyy")</span>
            </a>
        </li>
    }
</ul>

<div class="holder"></div>

@section scripts {
    <script>
        $(document).ready(function () {
            var professorTermCurrentPage = sessionStorage.getItem("professorTermCurrentPage") || 1;

            $("div.holder").jPages({
                containerID: "itemContainer",
                perPage: 5,
                startPage: professorTermCurrentPage,
                callback: function (pages, items) {
                    sessionStorage.setItem("professorTermCurrentPage", pages.current);
                }
            });

            $("div.holder").jPages(professorTermCurrentPage);
        });
    </script>

    <script src="~/Scripts/jPages.min.js"></script>
}