@model IEnumerable<ADYC.API.ViewModels.TermDto>

@{
    var title = "Enrollments (Terms)";

    ViewBag.Title = title;
    ViewBag.PageHeader = title;

    ViewBag.BreadcrumbLinks = new Dictionary<string, string>
    {
        [title] = ""
    };

    ViewBag.ActiveBreadcrumb = title;
}

<style>
    /*ul.term-list li a:hover {
        color: #fff;
        background-color: #3c8dbc;
    }

    ul.term-list li h5 {
        display: inline-block;
    }*/
</style>

<link href="~/Content/jPages.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-3 col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i> Note</h3>
            </div>
            <div class="box-body">
                Please select a term from the list to see your enrollments during that term.
            </div>
        </div>
    </div>
    <div class="col-md-9 col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Terms</h3>
            </div>
            <div class="box-header with-border">
                <div class="holder no-margin pull-right"></div>
                <ul class="pagination pagination-sm no-margin pull-right"></ul>
            </div>
            <div class="box-body no-padding">
                <ul id="termsContainer" class="term-list nav nav-pills nav-stacked">
                    @foreach (var term in Model)
            {
                        <li>
                            <a href="@Url.Action("ViewEnrollment", new { termId = term.Id })">
                                <i class="fa fa-calendar"></i><h5>@term.Name</h5>
                                <span class="w3-medium w3-opacity">(@term)</span>
                                <span class="w3-medium w3-opacity"> - Withdraw deadline: @term.EnrollmentDropDeadLine.ToString("MMMM dd, yyyy")</span>
                                @if (term.IsCurrentTerm)
                                {
                                    <span class="label label-primary pull-right">Current</span>
                                }
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <div class="holder no-margin pull-right"></div>
                <ul class="pagination pagination-sm no-margin pull-right"></ul>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var studentTermCurrentPage = sessionStorage.getItem("studentTermCurrentPage") || 1;

            $("div.holder").jPages({
                containerID: "termsContainer",
                perPage: 5,
                startPage: studentTermCurrentPage,
                callback: function (pages, items) {
                    sessionStorage.setItem("studentTermCurrentPage", pages.current);
                }
            });

            $("div.holder").jPages(studentTermCurrentPage);
        });
    </script>

    <script src="~/Scripts/jPages.min.js"></script>
}